<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <br>

    <ion-button (click)="initDB()">Init DB Structure</ion-button><br>
    <ion-button (click)="printDbList()">Show DB Structure</ion-button><br>
    <ion-button (click)="printQuery()">Print SELECT Query</ion-button><br>
    <ion-button (click)="export()">Export Full DB To Console</ion-button><br>
  </div>
</ion-content>